/* Master stylesheet */

/* Importing fonts */

@font-face {
  font-family: LatoRegular;
  src: url(../fonts/lato/Lato-Regular.ttf);
}

@font-face {
  font-family: LatoBlack;
  src: url(../fonts/lato/Lato-Black.ttf);
}

@font-face {
  font-family: LemonMilkRegular;
  src: url(../fonts/lemon_milk/LemonMilk.otf);
}

@font-face {
  font-family: LemonMilkBold;
  src: url(../fonts/lemon_milk/LemonMilkbold.otf);
}

@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/raleway/Raleway-Regular.ttf);
}



/* STYLESHEET CONTENT */

/* Fonts set up */

h1 {
  font-family: LemonMilkRegular;
  font-size: 4rem;
  line-height: 100px;
}

h2 {
  font-family: LemonMilkRegular;
  font-size: 2rem;
  margin-bottom: 70px;
}

p {
  font-family: LatoRegular;
  color: #424242;
  font-size: 1.25rem;
}

/* Navbar */

.navbar-font {
  font-family: LatoRegular;

}

/* Cover section */

#main-title {
  font-family: LemonMilkBold;
  color: #fff;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}


#cover {
  height: auto;
  min-height: 100vh;
  /*background-color: #64B5F6;  */
  display: flex;
  align-items: center;
  background-image: url("../assets/image/t-pesquet-cockpit.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;

}

/* Introduction */

#introduction {
  background-color: #FAFAFA;
  height: auto;
  min-height: 75vh;
}

#intro-container {
  padding-right: 10%;
  padding-left: 10%;
}

/* Log book section */

#log-book {
  margin-top: 65px;
  height: auto;
  margin-bottom: 10vh;
}

.quote {
  font-family: LemonMilkRegular !important;
  font-size: 1.4rem !important;
  color: #fff;
}

.author {
  /* font-family: LatoRegular; */
  color: white;
}

#pesquet-quote-card {
  background-color: #F44336;
}

#t-video {
  width: 100%;
  height: 200px;
}

/* ISS section */
#iss-section {
  background-image: url("../assets/image/iss-earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  min-height: 240vh;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  
}

#iss-section-container  {
  overflow: hidden;
  width: 100%;
}

#iss-description {
  position: absolute;
  z-index: 5;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

#iss-title {
  color: #fff;
  margin-top: 125vh;
  margin-bottom: 10vh;
}

#iss-text {
  font-family: LatoBlack;
  color: #fff;
  font-size: 2rem;
  color: #ffffff;
}

#iss-components {
  height: auto;
  min-height: 100vh;
}

.iss-section-title  {
  margin-top: 10vh;
  margin-bottom: 7vh;
}

/*Training section*/
#training-title-section {
  width: 100%;
  height: 45vh;
  padding: 12vh;
  background-image: url('../assets/image/t-in-iss.jpg');
  background-attachment: fixed;
  background-position: center;
}

#training-title {
  text-align: center;
  color: #fff;
  font-size: 3rem;
  margin-bottom: 10px;
}

#training-subtitle  {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.training-div {
  height: auto;
  min-height: 60vh;
  width: 100%;
  padding-bottom: 10px; 
}

.trainning-div-text {
  padding: 70px;
}

.training-div-text-title {
  font-family: LatoBlack;
  text-align: center;
  margin-bottom: 50px;
}

.training-img {
  min-width: 100%;
  max-width: 100%;
  align-self: center;
}

#training-div-1 {
  background-color: #F5F5F5;
}

#training-div-2 {
  background-color: #EEEEEE;
}

#second-section  {
  background-image: url('../assets/image/t-in-0G.jpg');
  background-size: cover;
  background-position: top;
  height: 60vh;
}

#training-div-3 {
  background-color: #F5F5F5;
}

#third-section  {
  background-image: url('../assets/image/t-in-snow.jpg');
  background-size: cover;
  background-position: top;
  height: 60vh;
}

#training-div-4 {
  background-color: #EEEEEE;
}

#fourth-section  {
  background-image: url('../assets/image/t-in-water.jpg');
  background-size: cover;
  background-position: top;
  height: 60vh;
}

#training-div-5 {
  background-color: #F5F5F5;
}

#fifth-section  {
  background-image: url('../assets/image/t-medical-training.jpg');
  background-size: cover;
  background-position: top;
  height: 60vh;
}

#launching-title  {
  margin-bottom: 0px;
}

#launching-title-section  {
  padding: 15vh;
  height: 40vh;
  text-align: center;
  background-color: #EEEEEE;
}

#thomas-launching {
  background-image: url('../assets/image/t-launch.jpg');
  background-size: cover;
  height: 90vh;
  background-position: center;
}

/* Risks Section */

.risk-title {
  text-align: center;
  margin-top: 50px;
}

.risk-img {
  max-height: 500px;
}

.risk-text  {
  min-height: 100vh;
  height: auto;
}

#risk-summup-img  {
  height: auto;
  margin-bottom: 50px;
  display: flex;
justify-content: center;
}

/* bootstrap modifs */

.jumbotron {
  margin: 0px;
}

.container {
  margin-bottom: 0px;
}

.card {
  margin-bottom: 10px;
}

.container-fluid {
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.card-text  {
  font-family: LatoRegular;
  font-size: 1.1rem;
}

.row  {
  margin-right: 0px; 
  margin-left: 0px; 
}




